node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
*.md
test
coverage
.eslintrc*
.prettierrc
docker-compose.yml
Dockerfile
.dockerignore
init-db
init-es
migrations
scripts
postman_collection.json
LICENSE
