APP_PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=db_name

ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_INDEX_SECURITY_ALERTS=index_name
